
/** Fonts. */

@font-face {
  font-family: 'Recursive';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('/fonts/recursive.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/** Properties. */

:root {
	--accent: hsl(235, 88%, 64%);
	--accent-dark: hsl(235, 80%, 40%);
  --bg-color: light-dark(hsl(235, 16%, 92%), hsl(235, 16%, 12%));
  --bg-color-mid: light-dark(hsl(235, 16%, 88%), hsl(235, 16%, 16%));
  --bg-color-mute: light-dark(hsl(234, 20%, 90%), hsl(234, 20%, 14%));
  --text-color: light-dark(hsl(235, 32%, 12%), hsl(235, 32%, 88%));
  --text-color-mid: light-dark(hsl(235, 16%, 32%), hsl(235, 16%, 56%));
  --text-color-mute: light-dark(hsl(235, 16%, 56%), hsl(235, 16%, 40%));
  --breakout-columns: 1fr min(var(--column-size), 100%) 1fr;
  --column-size: 720px;
}

/** Document. */

html {
  background-color: var(--bg-color);
  block-size: 100dvh;
  color-scheme: light dark;
  font-family: 'Recursive', sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  font-variation-settings:
    "slnt" var(--fnt-slnt, 0),
    "CASL" var(--fnt-casl, 0),
    "CRSV" var(--fnt-crsv, 1),
    "MONO" var(--fnt-mono, 0)
  ;
  line-height: 1.5;
  overflow-anchor: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  text-rendering: auto;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-block-size: 100dvh;
  padding: 0;
  word-wrap: break-word;
}

/** Reset. */

:where(:any-link) {
  text-underline-position: under;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .0625em;
}

:where(:any-link:not([class])) {
  color: var(--accent);
}

:where(:any-link):is([class], :not(:hover, :focus)) {
  text-decoration-line: none;
}

:where(:any-link, [tabindex]:not([tabindex="-1"])):focus-visible {
  outline: .15em solid currentColor;
  outline-offset: .25em;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-variation-settings:
    "slnt" var(--fnt-slnt, 0),
    "CASL" var(--fnt-casl, 0),
    "CRSV" var(--fnt-crsv, 0),
    "MONO" var(--fnt-mono, 0)
  ;
  font-weight: 800;
  margin: .125em 0 .5em 0;
  text-wrap: balance;
}

:where(h1, h2, h3) {
  line-height: 1.2;
}

:where(h4, h5, h6) {
  line-height: 1.35;
}

:where(ol, ul, menu):where([class]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

:where(p, dd, li) {
  text-wrap: pretty;
}

:where(button, input, option, select, textarea, ::file-selector-button) {
  font: inherit;
}

:where(code, mark, pre) {
  font-size: 92.5%;
  font-family: monospace, monospace;
  line-height: 1.25;
}

:where(img, picture, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

:where(img, picture, svg):where(:not([hidden])) {
  display: inline-block;
}

:where(video) {
  display: block;
}

/** Base styles. */

body > main {
  flex: 1;
  padding: 16px;
}

body > :is(header, main, footer) {
  align-content: start;
  display: grid;
  grid-template-columns: var(--breakout-columns);
}

body > :is(header, main, footer) > *:not(.breakout) {
  grid-column: 2 / 3;
}

body > :is(header, main, footer) > *:is(.breakout) {
  grid-column: 1 / -1;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.875em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

p:first-child {
  margin-block-start: 0;
}

p:last-child {
  margin-block-end: 0;
}

code {
  background: var(--bg-color-mid);
  font-family: 'Recursive', sans-serif;
  font-variation-settings:
    "CASL" var(--fnt-casl, 0),
    "CRSV" var(--fnt-crsv, 0),
    "MONO" var(--fnt-mono, 1)
  ;
}

pre {
  padding: 16px;
  border-radius: 8px;
}

pre > code {
  background: none;
}

blockquote {
  border-inline-start: .25em solid var(--accent);
  font-variation-settings:
    "CASL" var(--fnt-casl, 1),
    "CRSV" var(--fnt-crsv, 1),
    "MONO" var(--fnt-mono, 0)
  ;
  margin: 1em;
  padding: .25em .25em .25em 1.25em;
}

blockquote :first-child {
  margin-block-start: 0;
}

blockquote :last-child {
  margin-block-end: 0;
}

blockquote cite {
  color: var(--text-color-mid);
  font-size: 1rem;
}

blockquote p {
  font-size: 1.25rem;
}

:where(main, article) > hr {
  border: 0;
  border-block-end: 1px solid transparent;
  border-image: linear-gradient(90deg, transparent, var(--accent), transparent) 1;
  inline-size: 100%;
  margin: 8px 0 12px 0;
}

/** Screen Reader. */

.sr-only {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}
