---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const { href, class: className, ...attrs } = Astro.props
const active = href === pathname || href === '/' + subpath?.[0]
---

<a
  {href}
  class:list={[ className, { active } ]}
  {...attrs}
><slot /></a>

<style>
  a {
    border-block-end: 4px solid transparent;
    color: var(--text-color);
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 8px 8px 4px 8px;
    text-decoration: none;
    transition: color 128ms ease-in-out;
  }
  a:not(.active):where(:hover, :focus) {
    color: var(--text-color-mid);
  }
  a.active {
    border-color: var(--accent);
    color: var(--accent);
  }
</style>
