---
import NavLink from '@src/components/layout/Link.astro'

import { SITE } from '@src/consts'
import { permalink } from '@src/utils/permalink'
---

<nav>
  <section>
    <div>
      <NavLink href={permalink.root('')}>{SITE.TITLE}</NavLink>
    </div>
    <ul role="list">
      <li role="listitem"><NavLink href={permalink.root('blog')}>Blog</NavLink></li>
      <li role="listitem"><NavLink href={permalink.root('about')}>About</NavLink></li>
    </ul>
  </section>
</nav>

<style>
  nav {
		background-color: var(--bg-color-mid);
    display: grid;
    grid-template-columns: var(--breakout-columns);
    inset-block-start: 0;
    inset-inline: 0;
    padding: 8px;
    position: sticky;
    z-index: 10;
  }
  section {
    display: flex;
    grid-column: 2 / 3;
  }
  div {
    display: flex;
    flex: 1;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
