---
interface Props {
  duration?: string
  'position-block'?: 'end' | 'start'
  target?: string
  text?: string
}

const {
  duration = '96ms',
  'position-block': positionBlock = 'start',
  target = '#main-content',
  text = 'Skip to Content'
} = Astro.props
---

<a href={target} data-position-block={positionBlock}>{text}</a>

<style define:vars={{ duration }}>
  a {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-weight: 600;
    inset-inline-start: 50%;
    letter-spacing: .0425em;
    padding: 8px;
    position: fixed;
    text-decoration: none;
    transition: translate var(--duration) ease-in;
    white-space: nowrap;
    z-index: 9999;
  }
  a:is([data-position-block="start"]) {
    inset-block-start: 0;
    transform-origin: 50% 0%;
    translate: -50% -100%;
    &:focus-visible {
      translate: -50% calc(0% + 16px);
    }
  }
  a:is([data-position-block="end"]) {
    inset-block-end: 0;
    transform-origin: 50% 100%;
    translate: -50% 100%;
    &:focus-visible {
      translate: -50% calc(0% - 16px);
    }
  }
</style>
