---
import Base from '@src/layouts/Base.astro'
import TagList from '@src/components/blog/Tags.astro'
import BlogLoop from '@src/components/blog/Loop.astro'

import { SITE } from '@src/consts'
import { getAllPosts } from '@src/utils/blog'
import { permalink } from '@src/utils/permalink'

const posts = await getAllPosts(SITE.LATEST_POSTS)
const title = '404: Page not found!'
const description = 'The page you are looking for does not exist.'
---

<Base {title} {description}>
	<header slot="before-content"><h1>{title}</h1></header>
  <p>
    The page you are looking for could not be found,
    please try the <a href={permalink.root('')}>home page</a> or check the
    <a href={permalink.root('blog')}>blog</a> for more posts.
  </p>
	<BlogLoop {posts} title="Latest Posts" />
  <hr>
	<TagList limit={20} title="Popular Tags" />
</Base>

<style>
	header {
		padding: 24px 16px;
	}
	header h1 {
		line-height: 1;
		margin: 0;
	}
  p {
    font-size: 1.25em;
    text-align: center;
  }
</style>
