---
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'

interface Props extends HTMLAttributes<'nav'> {
  next: CollectionEntry<'blog'> | null
  prev: CollectionEntry<'blog'> | null
}

const { prev, next, ...attrs } = Astro.props
---

<nav aria-labelledby="pager-label" {...attrs}>
  <h2 class="sr-only" id="pager-label">Other Posts</h2>
  <ul role="list">
    {prev && (
      <li role="listitem" class="pager__prev">
        <a href={`/blog/${prev.slug}`}>
          <span>Previous Post</span>
          {prev.data.title && <span>{prev.data.title}</span>}
        </a>
      </li>
    )}
    {next && (
      <li role="listitem" class="pager__next">
        <a href={`/blog/${next.slug}`}>
          <span>Next Post</span>
          {next.data.title && <span>{next.data.title}</span>}
        </a>
      </li>
    )}
  </ul>
</nav>

<style>
  nav {
    margin-block-start: 24px;
  }
  nav:not(:last-child) {
    margin-block-end: 24px;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    flex: 0 0 50%;
  }
  .pager__next {
    margin-inline-start: auto;
  }
  .pager__prev {
    margin-inline-end: start;
  }
  .pager__next a {
    align-items: end;
  }
  .pager__prev a {
    align-items: start;
  }
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  a > span:first-of-type {
    color: var(--text-color-mid);
    font-size: 1.25rem;
  }
  a > span:last-of-type {
    font-size: 1rem;
  }
</style>
