---
import Base from '@src/layouts/Base.astro'
import TagList from '@src/components/blog/Tags.astro'

const title = 'Tags'
const description = 'Listing of all blog tags.'
---

<Base {title} {description}>
	<header slot="before-breadcrumbs"><h1>{title}</h1></header>
  <TagList title={false} count />
</Base>

<style>
	header {
		padding: 24px 16px;
	}
	header h1 {
		line-height: 1;
		margin: 0;
	}
</style>
