---
import LayoutHead from '@src/components/layout/Head.astro'
import LayoutFooter from '@src/components/layout/Footer.astro'
import LayoutSkiplink from '@src/components/layout/Skiplink.astro'
import LayoutNavigation from '@src/components/layout/Navigation.astro'
import LayoutBreadcrumbs from '@src/components/layout/Breadcrumbs.astro'

import { SITE } from '@src/consts'
import { permalink } from '@src/utils/permalink'

interface Props {
	title: string
	description: string
	image?: string
}

const {
  title,
  description,
  image = permalink.root(`blog-placeholder-1.jpg`)
} = Astro.props
---

<!DOCTYPE html>
<html data-js="false" lang={SITE.LANG}>
  <head><LayoutHead {description} {image} {title} /></head>
  <body>
    <slot name="body-start" />
    <LayoutSkiplink text="Jump to Main Content" />
    <LayoutNavigation />
    <slot name="before-breadcrumbs" />
    <LayoutBreadcrumbs />
    <slot name="before-content" />
    <main id="main-content"><slot /></main>
    <slot name="after-content" />
    <LayoutFooter />
    <slot name="after-footer" />
    <LayoutSkiplink position-block="end" text="Back to Main Content" />
    <slot name="body-end" />
  </body>
</html>
